/* navBar */
.nav-bar{
    background-color: #edede9; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.nav-input{
    width: 500px;  
    position: sticky;
    background-color: #edede9; 
}

.nav-input:focus{
    background-color: transparent;
}

.button{
    background-color: #edede9;
    width: 45px;
    padding-top: 7px;
    border: none;
    border-radius: 100px; 
}

.button:hover{
    background-color: transparent;
}

.links:hover{
    color: #a8dadc;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

/* Profile card */
.profile-card{
    position: sticky;
    top: 0;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #f8f9fa; 
}

.post-color{
    background-color: #f8f9fa;
}

.post-card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post-button{
    background-color: #0077b6;
    border: 2px solid #0077b6;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    height: 35px;
    width: 75px;
}

.post-button:hover{
    background-color: transparent;
    border: 2px solid #0077b6;
    color: black
}

.settings-div{
    height: 725px;
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #f8f9fa;
}

.settings-inputs{
    height: 40px;
    width: 100%;
    font-size: 16px;   
    border: solid 1px rgb(0, 0, 0);
    background-color: transparent;
    margin-bottom: 25px;
    border-radius: 5px;
    outline: none;
}

.settings-button{
    height: 40px;
    width: 100%;
    font-size: 18px;
    border: 1px solid black;
    background-color: transparent;
    margin-bottom: 30px;
    border-radius: 5px;
    outline: none;
}

.user-profile{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.img-design{
    border-radius: 50%;
}

.footer-post{
    font-size: 14px;
    color: gray;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* .material-symbols-outlined:hover{
    color: red;
} */

.interact-icons{
    height: 25px;
    background-color: transparent;
}


.like-img{
    color: black;
    text-decoration: none;
}


.comment-section input{
    height: 40px;
    width: 80%;
}

.hidden{
    display: none!important;
}

.comments-buttons{
    color: black;
}

.follow-button{
    background-color: #0077b6;
    border: 2px solid #0077b6;  
    cursor: pointer;
    color: white;
    border-radius: 25px;
}

.follow-button:hover{
    background-color: transparent;
    border: 2px solid #0077b6;
    color: black
}

.following-button{
    background-color: transparent;
    border: 2px solid #0077b6;
    color: black;
    border-radius: 25px;
}

.following-button:hover{
    background-color: #0077b6;
    border: 2px solid #0077b6;  
    cursor: pointer;
    color: white;

}

.might-know-card{
    position: sticky;
    top:0;
    height: 100vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #f8f9fa; 
}

